# Dependências
node_modules/

# Build
dist/
build/

# Ambiente
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Sistemas operacionais
.DS_Store
Thumbs.db

# IDEs e ferramentas
.vscode/
.idea/
*.swp

# Testes e cobertura
coverage/
*.coverage

# Cache de ferramentas
.pnpm-store/
.npm/
.eslintcache
.stylelintcache
